{{#> layout title="About Cosmo" mainActive="cosmo" subActive="index" }}
    <h1 class="cosmo-title">Cosmo CSS by Jinya</h1>
    <h2>What is Cosmo CSS</h2>
    <p>
        Cosmo CSS is a small CSS library that allows you to style your applications following the cosmopolitan design
        guidelines. Microsoft developed these guidelines as a theme for Silverlight. Later they were adapted by the Zune
        desktop software and were implemented in the .net framework <a href="https://github.com/firstfloorsoftware/mui">&quot;Modern
        UI for WPF (MUI)&quot;</a>.
    </p>
    <p>
        The Cosmopolitan design was always looking good and quite easy to use. With Jinya CMS version 18.0.0 the CMS got
        a new polished administration based on this CSS library.
    </p>
    <p>
        If you need a CSS library for your next web application, cosmo might be the right fit.
    </p>
    <h2>What Cosmo CSS is not</h2>
    <p>
        The cosmopolitan design was developed by Microsoft for desktop and Silverlight applications and is not made for
        websites in the classical sense. Even though we enriched Cosmo with typography, there are many things missing
        you would want for a public facing website.
    </p>
    <h2>How to install</h2>
    <p>
        You can either drop the CSS files in your project or install the npm package <code>@jinyacms/cosmo</code>.
    </p>
    <h2>Found a bug?</h2>
    <p>
        If you find a bug, feel free to create an issue on GitHub or on our Taiga instance: <a
            href="https://taiga.imanuel.dev/project/cosmo-css/">https://taiga.imanuel.dev/project/cosmo-css/</a>
    </p>
    <h2>License</h2>
    <p>Like all other Jinya projects, Cosmo CSS is distributed under the MIT License.</p>
{{/layout}}