.idea
*.html
docs.js
CNAME
docs.css
.gitignore
.gitlab-ci.yml
Dockerfile
.prettierignore
.prettierrc
favicon.ico
favicon-16x16.png
favicon-32x32.png
favicon-192x192.png
favicon-512x512.png
apple-touch-icon.png