.cosmo-message {
	width: 100%;
	background: var(--message-background);
	color: var(--black);
	border-top: 4px solid var(--message-border);
	padding: 8px 16px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border-radius: var(--border-radius);
}

.cosmo-message::selection {
	background: var(--message-border);
	color: var(--white);
}

.cosmo-message__header {
	margin: 0;
	color: var(--black);
	font-weight: var(--font-weight-light);
	font-family: var(--font-family-heading);
	font-size: 24px;
	display: block;
}

.cosmo-message__header::selection {
	background: var(--message-border);
	color: var(--white);
}

.cosmo-message__message {
	margin: 0;
}

.cosmo-message__message::selection {
	background: var(--message-border);
	color: var(--white);
}

.cosmo-message--positive,
.cosmo-message.is--positive,
.cosmo-message.is--positive.is--light {
	--message-border: var(--positive-color);
	--message-background: var(--positive-color-lighter);
}

.cosmo-message--negative,
.cosmo-message.is--negative,
.cosmo-message.is--negative.is--light {
	--message-border: var(--negative-color);
	--message-background: var(--negative-color-lighter);
}

.cosmo-message--information,
.cosmo-message.is--information,
.cosmo-message.is--information.is--light {
	--message-border: var(--information-color);
	--message-background: var(--information-color-lighter);
}

.cosmo-message--warning,
.cosmo-message.is--warning,
.cosmo-message.is--warning.is--light {
	--message-border: var(--warning-color);
	--message-background: var(--warning-color-lighter);
}

.cosmo-message.is--positive.is--dark {
	--message-background: var(--positive-color-dark);
}

.cosmo-message.is--negative.is--dark {
	--message-background: var(--negative-color-dark);
}

.cosmo-message.is--information.is--dark {
	--message-background: var(--information-color-dark);
}

.cosmo-message.is--warning.is--dark {
	--message-background: var(--warning-color-dark);
}

@media screen and (prefers-color-scheme: dark) {
	.cosmo-message--positive,
	.cosmo-message.is--positive {
		--message-background: var(--positive-color-dark);
	}

	.cosmo-message--negative,
	.cosmo-message.is--negative {
		--message-background: var(--negative-color-dark);
	}

	.cosmo-message--information,
	.cosmo-message.is--information {
		--message-background: var(--information-color-dark);
	}

	.cosmo-message--warning,
	.cosmo-message.is--warning {
		--message-background: var(--warning-color-dark);
	}
}
