.cosmo-button {
	cursor: pointer;
	font-family: var(--font-family);
	font-size: var(--font-size);
	padding: 4px 16px;
	box-sizing: border-box;
	border: 1px solid var(--button-border-color);
	background: var(--button-background);
	color: var(--button-color);
	line-height: 19px;
	text-decoration: none;
	font-weight: normal;
	border-radius: var(--border-radius);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	transition:
		background-color 0.3s,
		color 0.3s,
		border-color 0.3s;

	--button-border-color: var(--control-border-color);
	--button-background: var(--white);
	--button-color: var(--black);
}

.cosmo-button:disabled {
	cursor: not-allowed;
	filter: contrast(0.5);
	outline: none;
	box-shadow: none;
}

.cosmo-button:not(:disabled):hover {
	--button-background: var(--control-border-color-dark);
	--button-color: var(--white);
	--button-border-color: var(--control-border-color-dark);
	outline: none;
	box-shadow: none;
}

.cosmo-button:not(:disabled):focus {
	--button-border-color: var(--control-border-color-dark);
}

.cosmo-button:not(:disabled):active {
	--button-border-color: var(--control-border-color-darker);
	--button-background: var(--control-border-color-darker);
}

.cosmo-button.is--full-width {
	width: 100%;
	text-align: center;
	margin-top: auto;
}

.cosmo-button__container {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
	gap: 16px;
}

.cosmo-button__container > .cosmo-button + .cosmo-button {
	border-left-width: 1px;
}

.cosmo-button.is--primary,
.cosmo-button.is--primary:focus,
.cosmo-button.is--positive,
.cosmo-button.is--positive:focus,
.cosmo-button.is--negative,
.cosmo-button.is--negative:focus,
.cosmo-button.is--warning,
.cosmo-button.is--warning:focus,
.cosmo-button.is--information,
.cosmo-button.is--information:focus,
.cosmo-button:hover,
.cosmo-button:active {
	--button-color: var(--white);
}

.cosmo-button:focus {
	--button-color: var(--black);
}

.cosmo-button.is--primary {
	--button-border-color: var(--primary-color);
	--button-background: var(--primary-color);
}

.cosmo-button.is--primary:not(:disabled):hover,
.cosmo-button.is--primary:not(:disabled):focus {
	--button-border-color: var(--primary-color-light);
	--button-background: var(--primary-color-light);
}

.cosmo-button.is--primary:not(:disabled):active {
	--button-border-color: var(--primary-color-lighter);
	--button-background: var(--primary-color-lighter);
}

.cosmo-button.is--negative {
	--button-border-color: var(--negative-color);
	--button-background: var(--negative-color);
}

.cosmo-button.is--negative:not(:disabled):hover,
.cosmo-button.is--negative:not(:disabled):focus {
	--button-border-color: var(--negative-color-dark);
	--button-background: var(--negative-color-dark);
}

.cosmo-button.is--negative:not(:disabled):active {
	--button-border-color: var(--negative-color-darker);
	--button-background: var(--negative-color-darker);
}

.cosmo-button.is--positive {
	--button-border-color: var(--positive-color);
	--button-background: var(--positive-color);
}

.cosmo-button.is--positive:not(:disabled):hover,
.cosmo-button.is--positive:not(:disabled):focus {
	--button-border-color: var(--positive-color-dark);
	--button-background: var(--positive-color-dark);
}

.cosmo-button.is--positive:not(:disabled):active {
	--button-border-color: var(--positive-color-darker);
	--button-background: var(--positive-color-darker);
}

.cosmo-button.is--information {
	--button-border-color: var(--information-color);
	--button-background: var(--information-color);
}

.cosmo-button.is--information:not(:disabled):hover,
.cosmo-button.is--information:not(:disabled):focus {
	--button-border-color: var(--information-color-dark);
	--button-background: var(--information-color-dark);
}

.cosmo-button.is--information:not(:disabled):active {
	--button-border-color: var(--information-color-darker);
	--button-background: var(--information-color-darker);
}

.cosmo-button.is--warning {
	--button-border-color: var(--warning-color);
	--button-background: var(--warning-color);
}

.cosmo-button.is--warning:not(:disabled):hover,
.cosmo-button.is--warning:not(:disabled):focus {
	--button-border-color: var(--warning-color-dark);
	--button-background: var(--warning-color-dark);
}

.cosmo-button.is--warning:not(:disabled):active {
	--button-border-color: var(--warning-color-darker);
	--button-background: var(--warning-color-darker);
}

@media screen and (prefers-color-scheme: dark) {
	.cosmo-button.is--primary,
	.cosmo-button.is--negative,
	.cosmo-button.is--positive,
	.cosmo-button.is--warning,
	.cosmo-button.is--information,
	.cosmo-button:active,
	.cosmo-button:hover,
	.cosmo-button:focus {
		--button-color: var(--black);
	}
}

.cosmo-button.is--circle {
	--border-radius: calc(var(--size) / 2);
	--size: 32px;
	--button-border-color: var(--button-color);
	border-width: 2px;
	height: var(--size);
	min-width: var(--size);
	padding: 4px;
	background: var(--white);
	color: var(--button-border-color);
}

.cosmo-button.is--circle.is--primary,
.cosmo-button.is--circle.is--positive,
.cosmo-button.is--circle.is--negative,
.cosmo-button.is--circle.is--warning,
.cosmo-button.is--circle.is--information {
	--button-border-color: var(--button-background);
}

.cosmo-button.is--circle:disabled {
	cursor: not-allowed;
	border: 1px solid var(--control-border-color);
	background: var(--white);
	color: var(--disabled-color);
}

.cosmo-button.is--circle.is--small {
	--size: 24px;
}

.cosmo-button.is--circle.is--large {
	--size: 48px;
}

.cosmo-button.is--circle:hover,
.cosmo-button.is--circle:focus,
.cosmo-button.is--circle:active {
	background: var(--button-background);
	color: var(--button-color);
}
