pre.cosmo-docs-container {
	border: 1px solid var(--primary-color);
	/*background: var(--gradient-top-color);*/
	position: relative;
	padding: 32px 16px 16px;
}

pre.cosmo-docs-container::before {
	content: 'Code';
	background: var(--primary-color);
	color: var(--white);
	position: absolute;
	left: 0;
	top: 0;
	padding: 4px 8px;
}

.cosmo-docs-container {
	border: 1px solid var(--primary-color);
	padding: 32px 16px 16px;
	position: relative;
	margin: 16px 0;
}

.cosmo-docs-container::before {
	content: 'Demo';
	background: var(--primary-color);
	color: var(--white);
	position: absolute;
	left: 0;
	top: 0;
	padding: 4px 8px;
}

.cosmo-debug * {
	border: 1px dashed var(--primary-color);
}
