pre.cosmo-docs-container {
	border: 1px solid var(--primary-color);
	position: relative;
	padding: 32px 16px 16px;
	border-radius: var(--border-radius);
	overflow: auto;
}

pre.cosmo-docs-container::before {
	content: 'Code';
	background: var(--primary-color);
	color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
	padding: 4px 8px;
	border-bottom-right-radius: var(--border-radius);
}

.cosmo-docs-container {
	border: 1px solid var(--primary-color);
	padding: 32px 16px 16px;
	position: relative;
	margin: 16px 0;
	border-radius: var(--border-radius);
}

.cosmo-docs-container::before {
	content: 'Demo';
	background: var(--primary-color);
	color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
	padding: 4px 8px;
	border-bottom-right-radius: var(--border-radius);
}

.cosmo-debug * {
	outline: 1px dashed var(--primary-color);
}
