.cosmo-input__header {
	font-size: 24px;
	height: 24px;
	font-weight: var(--font-weight-light);
	font-family: var(--font-family-heading);
	text-transform: uppercase;
	grid-column: span 2;
	margin-top: 10px;
}

.cosmo-input__group {
	display: grid;
	align-items: center;
	grid-template-columns: [label] auto [input] 1fr;
	grid-auto-rows: auto;
	grid-auto-flow: row;
	row-gap: 10px;
}

.cosmo-input__group.is--checkbox,
.cosmo-input__group.is--switch,
.cosmo-input__group.is--radio {
	grid-column: 2/3;
	row-gap: 4px;
}

.cosmo-select,
.cosmo-input,
.cosmo-textarea {
	transition: border-color 0.3s;
	min-width: 240px;
	height: 30px;
	box-sizing: border-box;
	font-family: var(--font-family);
	font-size: var(--font-size);
	background: var(--white);
	color: var(--black);
	border-radius: var(--border-radius);
	line-height: 1.15;
	border: 1px solid var(--control-border-color);
	--border-indicator-color: var(--control-border-color);
}

.cosmo-select {
	appearance: none;
	position: relative;
	background-image: var(--dropdown-background);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: center;
	padding: 4px 32px 4px 8px;
	border-color: var(--border-indicator-color);
}

.cosmo-input,
.cosmo-textarea {
	border-bottom: 2px solid var(--border-indicator-color);
	padding: 4px 8px;
}

.cosmo-input:focus,
.cosmo-textarea:focus,
.cosmo-select:focus {
	--border-indicator-color: var(--primary-color);
	outline: none;
	box-shadow: none;
}

.cosmo-input:invalid,
.cosmo-textarea:invalid,
.cosmo-select:invalid,
.cosmo-input.is--invalid,
.cosmo-textarea.is--invalid,
.cosmo-select.is--invalid {
	--border-indicator-color: var(--negative-color);
	outline: none;
	box-shadow: none;
}

.cosmo-input:disabled,
.cosmo-textarea:disabled,
.cosmo-select:disabled {
	--border-indicator-color: var(--disabled-color);
	cursor: not-allowed;
}

.cosmo-label {
	font-size: var(--font-size);
	margin-right: 10px;
}

.cosmo-textarea {
	height: unset;
}

.cosmo-label.is--textarea,
.cosmo-label.is--radio {
	align-self: baseline;
}

.cosmo-checkbox,
.cosmo-switch,
.cosmo-radio {
	appearance: none;
	margin: 0;
	display: flex;
	position: relative;
	outline: none;
	border: none;
	box-shadow: none;
	--border-indicator-color: var(--control-border-color);
}

.cosmo-radio:invalid,
.cosmo-radio.is--invalid,
.cosmo-checkbox:invalid,
.cosmo-checkbox.is--invalid,
.cosmo-switch:invalid,
.cosmo-switch.is--invalid,
.cosmo-switch:not(:checked):invalid::after,
.cosmo-switch:not(:checked).is--invalid::after {
	--border-indicator-color: var(--negative-color);
}

.cosmo-radio:active,
.cosmo-radio:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.cosmo-radio::before,
.cosmo-radio::after {
	content: '';
	border-radius: 50%;
	display: inline-block;
	transition:
		border-color 0.3s,
		background-color 0.3s;
}

.cosmo-radio::before {
	background: var(--white);
	border: 1px solid var(--border-indicator-color);
	height: 16px;
	width: 16px;
	margin-right: 8px;
}

.cosmo-radio:checked::after {
	position: absolute;
	background: var(--primary-color);
	height: 8px;
	width: 8px;
	left: 4px;
	top: 4px;
}

.cosmo-radio:disabled:checked::after {
	background: var(--disabled-color);
}

.cosmo-radio:active {
	--border-indicator-color: var(--primary-color);
}

.cosmo-radio:disabled:active,
.cosmo-checkbox:disabled {
	--border-indicator-color: var(--control-border-color);
}

.cosmo-checkbox:disabled + label,
.cosmo-radio:disabled + label,
.cosmo-switch:disabled + label {
	cursor: not-allowed;
}

.cosmo-checkbox::after,
.cosmo-checkbox::before {
	transition:
		border-color 0.3s,
		background-color 0.3s;
}

.cosmo-checkbox::before {
	content: '';
	display: inline-block;
	border: 1px solid var(--border-indicator-color);
	height: 16px;
	width: 16px;
	margin-right: 8px;
	border-radius: var(--border-radius);
	background: var(--white);
}

.cosmo-checkbox:checked::after {
	content: '';
	position: absolute;
	display: block;
	height: 2px;
	width: 8px;
	border-right: 1px solid var(--white);
	border-top: 1px solid var(--white);
	transform: rotate(135deg);
	top: 6px;
	left: 4px;
	box-sizing: content-box;
}

.cosmo-checkbox:checked::before,
.cosmo-switch:checked::before,
.cosmo-switch:not(:checked)::after {
	background: var(--border-indicator-color);
	color: var(--white);
	--border-indicator-color: var(--primary-color);
}

.cosmo-checkbox:disabled:checked::before,
.cosmo-switch:disabled:checked::before {
	--border-indicator-color: var(--disabled-color);
}

.cosmo-switch::after,
.cosmo-switch::before {
	content: '';
	display: inline-block;
	border-radius: var(--border-radius);
	transition: all 0.1s;
}

.cosmo-switch::after {
	position: absolute;
	height: 12px;
	width: 12px;
	background: var(--border-indicator-color);
	margin-top: 2px;
	margin-left: 2px;
}

.cosmo-switch::before {
	display: inline-block;
	border: 1px solid var(--border-indicator-color);
	height: 16px;
	width: 32px;
	margin-right: 8px;
}

.cosmo-switch:checked::after,
.cosmo-switch:disabled:checked::after {
	margin-left: 18px;
	background: var(--white);
}

.cosmo-input[type='range'] {
	--range-track-background: var(--control-border-color);
	--range-track-height: 4px;
	--range-track-min-width: 100%;

	--range-thumb-color: var(--control-border-color);
	--range-thumb-border-color: var(--primary-color);
	--range-thumb-width: 4px;
	--range-thumb-height: 20px;
	--range-thumb-border: 1px solid var(--range-thumb-border-color);
	--range-thumb-border-radius: var(--border-radius);
	--range-thumb-background-color: var(--range-thumb-color);
	--range-thumb-cursor: pointer;

	border: none;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.cosmo-input[type='range']::-moz-range-track {
	min-width: var(--range-track-min-width);
	height: var(--range-track-height);
	background-color: var(--range-track-background);
	border-radius: var(--border-radius);
}

.cosmo-input[type='range']::-webkit-slider-runnable-track {
	min-width: var(--range-track-min-width);
	height: var(--range-track-height);
	background-color: var(--range-track-background);
	border-radius: var(--border-radius);
}

.cosmo-input[type='range']::-moz-range-thumb {
	appearance: none;
	width: var(--range-thumb-width);
	height: var(--range-thumb-height);
	border: var(--range-thumb-border);
	border-radius: var(--range-thumb-border-radius);
	background-color: var(--range-thumb-background-color);
	cursor: var(--range-thumb-cursor);
}

.cosmo-input[type='range']::-webkit-slider-thumb {
	appearance: none;
	width: var(--range-thumb-width);
	height: var(--range-thumb-height);
	border: var(--range-thumb-border);
	border-radius: var(--range-thumb-border-radius);
	background-color: var(--range-thumb-background-color);
	cursor: var(--range-thumb-cursor);
	margin-top: -10px;
}

.cosmo-input[type='range']:hover,
.cosmo-input[type='range']:focus,
.cosmo-input[type='range']:active {
	--range-thumb-color: var(--primary-color);
}

.cosmo-input[type='range']:invalid,
.cosmo-input[type='range'].is--invalid {
	--range-track-background: var(--negative-color);
}

.cosmo-input[type='range']:disabled,
.cosmo-input[type='range']:disabled:hover,
.cosmo-input[type='range']:disabled:focus,
.cosmo-input[type='range']:disabled:active {
	--range-thumb-color: var(--disabled-color);
	--range-thumb-border-color: var(--disabled-color);
	--range-track-background: var(--disabled-color);
}

.cosmo-input[type='file'] {
	padding: 0;
}

.cosmo-input[type='file']::file-selector-button,
.cosmo-input[type='file']::-webkit-file-upload-button,
.cosmo-input.is--picker::before {
	--button-border-color: var(--control-border-color);
	--button-background: var(--white);
	--button-color: var(--black);

	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	cursor: pointer;
	font-family: var(--font-family);
	font-size: var(--font-size);
	padding: 4px 16px;
	box-sizing: border-box;
	border: none;
	border-right: 1px solid var(--button-border-color);
	background: var(--button-background);
	color: var(--button-color);
	line-height: 19px;
	text-decoration: none;
	font-weight: normal;
	border-radius: 0;
	height: 30px;
	transition:
		background-color 0.3s,
		color 0.3s;
}

.cosmo-input[type='file']:disabled {
	cursor: not-allowed;
}

.cosmo-input[type='file']:disabled::file-selector-button,
.cosmo-input[type='file']:disabled::-webkit-file-upload-button,
.cosmo-input.is--picker:disabled::before {
	--button-background: var(--disabled-color);
	--button-color: var(--white);
	cursor: not-allowed;
}

.cosmo-input[type='file']:not(:disabled):hover::file-selector-button,
.cosmo-input[type='file']:not(:disabled):hover::-webkit-file-upload-button,
.cosmo-input.is--picker:not(:disabled):hover::before {
	--button-background: var(--control-border-color);
	outline: none;
	box-shadow: none;
}

.cosmo-input[type='file']:not(:disabled):focus::file-selector-button,
.cosmo-input[type='file']:not(:disabled):focus::-webkit-file-upload-button,
.cosmo-input.is--picker:not(:disabled):focus::before {
	--button-border-color: var(--control-border-color-dark);
}

.cosmo-input[type='file']:not(:disabled):active::file-selector-button,
.cosmo-input[type='file']:not(:disabled):active::-webkit-file-upload-button,
.cosmo-input.is--picker:not(:disabled):active::before {
	--button-border-color: var(--control-border-color-darker);
	--button-background: var(--control-border-color-darker);
	--button-color: var(--white);
}

.cosmo-input[type='file']:not(:disabled):active,
.cosmo-input.is--picker:not(:disabled):active {
	border-bottom-color: var(--control-border-color-darker);
}

.cosmo-input.is--picker {
	text-align: left;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cosmo-input.is--picker::before {
	content: attr(data-picker);
	height: 27px;
	display: inline-block;
	border-radius: 2px 0 0 2px;
}

.cosmo-input.is--small,
.cosmo-textarea.is--small,
.cosmo-select.is--small {
	width: 240px;
}

.cosmo-input.is--medium,
.cosmo-textarea.is--medium,
.cosmo-select.is--medium {
	width: 480px;
}

.cosmo-input.is--large,
.cosmo-textarea.is--large,
.cosmo-select.is--large {
	width: 720px;
}

.cosmo-textarea.is--small {
	min-width: 240px;
}

.cosmo-textarea.is--medium {
	min-width: 480px;
}

.cosmo-textarea.is--large {
	min-width: 720px;
}

.cosmo-input__message {
	grid-column: 2/3;
}

:invalid .cosmo-input__message:not(.is--positive):not(.is--warning):not(.is--information),
.cosmo-input__message.is--negative {
	color: var(--negative-color);
}

.cosmo-input__message.is--positive {
	color: var(--positive-color);
}

.cosmo-input__message.is--warning {
	color: var(--warning-color);
}

.cosmo-input__message.is--information {
	color: var(--information-color);
}
