.cosmo-input__group {
	display: grid;
	align-items: center;
	grid-template-columns: [label] auto [input] 1fr;
	grid-row-gap: 10px;
}

.cosmo-input,
.cosmo-textarea {
	min-width: 240px;
	height: 30px;
	padding: 4px 8px;
	box-sizing: border-box;
	font-family: var(--font-family);
	font-size: var(--font-size);
	border: 1px solid var(--control-border-color);
	background: var(--white);
	color: var(--black);
	border-radius: var(--border-radius);
	border-bottom: 2px solid var(--control-border-color);
	line-height: 1.15;
}

.cosmo-input:focus,
.cosmo-textarea:focus {
	outline: none;
	box-shadow: none;
	border-bottom-color: var(--primary-color);
}

.cosmo-input:invalid,
.cosmo-textarea:invalid {
	border-bottom-color: var(--negative-color);
	outline: none;
	box-shadow: none;
}

.cosmo-input:disabled,
.cosmo-textarea:disabled {
	border-bottom-color: var(--disabled-color);
	cursor: not-allowed;
}

.cosmo-label {
	font-size: var(--font-size);
	margin-right: 10px;
}

.cosmo-input--picker {
	display: flex;
	align-items: center;
	padding: 0;
}

.cosmo-picker__name {
	padding: 4px 8px;
	text-overflow: ellipsis;
	white-space: pre;
	overflow-x: hidden;
}

.cosmo-picker__button {
	color: var(--black);
	justify-self: flex-end;
	margin-left: auto;
	cursor: pointer;
	width: 26px;
	height: 26px;
	display: flex;
	justify-content: center;
}

.cosmo-picker__button:hover {
	background: var(--black);
	color: var(--white);
}

.cosmo-input[type='file'] {
	padding: 0;
}

.cosmo-input[type='file']::file-selector-button,
.cosmo-input[type='file']::-webkit-file-upload-button {
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	padding-top: 4px;
}

.cosmo-textarea {
	height: unset;
}

.cosmo-label--textarea,
.cosmo-label--radio {
	align-self: baseline;
}

.cosmo-radio {
	appearance: none;
	margin: 0;
	display: flex;
	position: relative;
}

.cosmo-radio::before,
.cosmo-radio::after {
	content: '';
	border-radius: 50%;
	display: inline-block;
}

.cosmo-radio::before {
	background: var(--white);
	border: 1px solid var(--control-border-color);
	height: 16px;
	width: 16px;
	margin-right: 8px;
}

.cosmo-radio:checked::after {
	position: absolute;
	background: var(--primary-color);
	height: 8px;
	width: 8px;
	left: 4px;
	top: 4px;
}

.cosmo-radio:disabled:checked::after {
	background: var(--disabled-color);
}

.cosmo-radio:active::before {
	border-color: var(--primary-color);
}

.cosmo-radio:disabled:active::before {
	border-color: var(--control-border-color);
}

.cosmo-checkbox__group,
.cosmo-switch__group,
.cosmo-radio__group {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-auto-rows: auto;
	grid-column: 2/3;
	row-gap: 4px;
}

.cosmo-checkbox {
	appearance: none;
	margin: 0;
	display: flex;
	position: relative;
}

.cosmo-checkbox::before {
	content: '';
	display: inline-block;
	border: 1px solid var(--control-border-color);
	height: 16px;
	width: 16px;
	margin-right: 8px;
	border-radius: var(--border-radius);
	background: var(--white);
}

.cosmo-checkbox:invalid::before {
	border-color: var(--negative-color);
}

.cosmo-checkbox:disabled::before {
	border-color: var(--disabled-color);
	cursor: not-allowed;
}

.cosmo-checkbox:disabled + label {
	cursor: not-allowed;
}

.cosmo-checkbox:checked::after {
	content: '';
	position: absolute;
	display: block;
	height: 2px;
	width: 8px;
	border-right: 1px solid var(--white);
	border-top: 1px solid var(--white);
	transform: rotate(135deg);
	top: 6px;
	left: 4px;
	box-sizing: content-box;
}

.cosmo-checkbox:checked::before {
	background: var(--primary-color);
	color: var(--white);
	border-color: var(--primary-color);
}

.cosmo-checkbox:disabled:checked::before {
	background: var(--disabled-color);
	color: var(--white);
	border-color: var(--disabled-color);
}

.cosmo-select {
	min-width: 240px;
	font-size: var(--font-size);
	border: 1px solid var(--control-border-color);
	background: var(--white);
	padding: 4px 32px 4px 8px;
	appearance: none;
	color: var(--black);
	position: relative;
	background-image: var(--dropdown-background);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: center;
	border-radius: var(--border-radius);
	height: 30px;
}

.cosmo-select:focus {
	border: 1px solid var(--primary-color);
	outline: none;
	box-shadow: none;
}

.cosmo-select:disabled {
	border-color: var(--disabled-color);
	cursor: not-allowed;
}

.cosmo-input__header {
	font-size: 24px;
	height: 24px;
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
	grid-column: span 2;
	margin-top: 10px;
}

.cosmo-input[type='range'] {
	--range-border-color: var(--control-border-color);
	--range-thumb-color: var(--control-border-color);
	padding: 0;
	border: none;
	margin: 0;
	box-sizing: border-box;
	height: auto;
	appearance: none;
	min-width: 240px;
	background: transparent;
	border-radius: var(--border-radius);
}

.cosmo-input[type='range']::-moz-range-track {
	min-width: 100%;
	height: 4px;
	background-color: var(--range-border-color);
	border-radius: var(--border-radius);
}

.cosmo-input[type='range']::-webkit-slider-runnable-track {
	min-width: 100%;
	height: 4px;
	background-color: var(--range-border-color);
	border-radius: var(--border-radius);
}

.cosmo-input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	width: 6px;
	height: 24px;
	border: 1px solid var(--primary-color);
	background-color: var(--range-thumb-color);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.cosmo-input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 6px;
	height: 24px;
	border: 1px solid var(--primary-color);
	border-radius: var(--border-radius);
	background-color: var(--range-thumb-color);
	cursor: pointer;
	margin-top: -10px;
}

.cosmo-input[type='range']:hover,
.cosmo-input[type='range']:focus,
.cosmo-input[type='range']:active {
	--range-thumb-color: var(--primary-color);
}

.cosmo-switch {
	appearance: none;
	margin: 0;
	display: flex;
	position: relative;
}

.cosmo-switch::after {
	content: '';
	position: absolute;
	display: inline-block;
	height: 12px;
	width: 12px;
	background: var(--primary-color);
	margin-top: 2px;
	margin-left: 2px;
	transition: all 0.1s;
	border-radius: var(--border-radius);
}

.cosmo-switch::before {
	content: '';
	display: inline-block;
	transition: all 0.1s;
	border: 1px solid var(--control-border-color);
	height: 16px;
	width: 32px;
	margin-right: 8px;
	border-radius: var(--border-radius);
}

.cosmo-switch:checked::after,
.cosmo-switch:disabled:checked::after {
	margin-left: 18px;
	background: var(--white);
}

.cosmo-switch:checked::before {
	background: var(--primary-color);
	border-color: var(--primary-color);
}

.cosmo-switch:disabled:checked::before {
	background: var(--disabled-color);
	border-color: var(--disabled-color);
}

.cosmo-switch:disabled::after {
	background: var(--disabled-color);
}

.cosmo-switch:invalid::after {
	background: var(--negative-color);
}
