.cosmo-side-list {
	display: grid;
	grid-template-columns: [items-list] 212px 16px [content] 1fr;
	height: calc(100vh - 64px - 80px - 32px - 28px - 68px);
}

.cosmo-side-list__items {
	grid-column: items-list;
	display: flex;
	flex-flow: column;
	padding-right: 16px;
	border-right: 1px solid var(--control-border-color);
	box-sizing: border-box;
	height: calc(100vh - 64px - 80px - 32px - 28px - 68px);
	overflow-y: auto;
}

.cosmo-side-list__item {
	--list-item-color: var(--black);

	color: var(--list-item-color);
	padding: 4px 8px;
	overflow-x: hidden;
	white-space: pre;
	text-overflow: ellipsis;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
	min-height: 29px;
	border-radius: var(--border-radius);
	background: var(--list-item-background);
	display: flex;
	align-items: center;
}

.cosmo-side-list__item:hover {
	--list-item-background: var(--control-border-color);
}

.cosmo-side-list__item.is--active,
.cosmo-side-list__item.is--active:hover {
	--list-item-background: var(--primary-color);
	--list-item-color: var(--white);

	font-weight: var(--font-weight-bold);
}

.cosmo-side-list__item.is--active::selection,
.cosmo-side-list__item.is--active:hover::selection {
	--list-item-background: var(--white);
	--list-item-color: var(--primary-color);
}

.cosmo-side-list__content {
	grid-column: content;
	height: 100%;
	overflow-y: auto;
}
