.cosmo-tab {
	display: grid;
	grid-template-rows: [tablist] 20px [tabcontent] 1fr;
	max-height: 100%;
	gap: 10px;
}

.cosmo-tab__content {
	max-height: 100%;
	overflow-y: auto;
	grid-row: tabcontent;
}

.cosmo-tab__links {
	grid-row: tablist;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	gap: 20px;
}

.cosmo-tab__link {
	text-transform: uppercase;
	color: var(--menu-text-color);
	font-size: 20px;
	font-weight: var(--font-weight-bold);
	height: 20px;
	cursor: pointer;
}

.cosmo-tab__link.is--active {
	color: var(--black);
}
