:root {
	--control-border-color: #cccccc;
	--primary-color: #514b57;
	--white: #ffffff;
	--black: #333333;
	--menu-text-selected-color: var(--black);
	--menu-text-color: #00000040;
	--disabled-color: var(--menu-text-color);
	--negative-color: #e2180d;
	--negative-light-color: #f8bab8;
	--positive-color: #146621;
	--positive-light-color: #cdecd3;
	--information-color: #182b70;
	--information-light-color: #dde3f8;
	--warning-color: #dfa700;
	--warning-light-color: #ffedb8;
	--code-color: #182b70;
	--gradient-top-color: #ededee;
	--gradient-bottom-color: var(--white);
	--modal-backdrop: #ffffff4d;
	--table-stripe-color: #1c1b1b;

	--font-weight-bold: bold;
	--font-weight-normal: normal;
	--font-weight-light: 300;
	--font-family: Lato, sans-serif;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--control-border-color: #333333;
		--primary-color: #966554;
		--white: #000000;
		--black: #cccccc;
		--menu-text-selected-color: var(--black);
		--menu-text-color: #ffffff40;
		--disabled-color: var(--menu-text-color);
		--negative-color: #290403;
		--negative-light-color: #600a06;
		--positive-color: #041406;
		--positive-light-color: #0a3511;
		--information-color: #070c20;
		--information-light-color: #0e1840;
		--warning-color: #7d5e00;
		--warning-light-color: #564000;
		--code-color: #1e368f;
		--gradient-top-color: #121212;
		--gradient-bottom-color: var(--white);
		--modal-backdrop: rgba(0, 0, 0, 0.3);
		--table-stripe-color: #eeeeee;
	}
}

.cosmo--light-theme {
	--control-border-color: #cccccc;
	--primary-color: #514b57;
	--white: #ffffff;
	--black: #333333;
	--menu-text-selected-color: var(--black);
	--menu-text-color: #00000040;
	--disabled-color: var(--menu-text-color);
	--negative-color: #e2180d;
	--negative-light-color: #f8bab8;
	--positive-color: #146621;
	--positive-light-color: #cdecd3;
	--information-color: #182b70;
	--information-light-color: #dde3f8;
	--warning-color: #dfa700;
	--warning-light-color: #ffedb8;
	--code-color: #182b70;
	--gradient-top-color: #ededee;
	--gradient-bottom-color: var(--white);
	--modal-backdrop: #ffffff4d;
	--table-stripe-color: #1c1b1b;

	background: var(--white);
	color: var(--black);
}

.cosmo--dark-theme {
	--control-border-color: #333333;
	--primary-color: #966554;
	--white: #000000;
	--black: #cccccc;
	--menu-text-selected-color: var(--black);
	--menu-text-color: #ffffff40;
	--disabled-color: var(--menu-text-color);
	--negative-color: #290403;
	--negative-light-color: #600a06;
	--positive-color: #041406;
	--positive-light-color: #0a3511;
	--information-color: #070c20;
	--information-light-color: #0e1840;
	--warning-color: #7d5e00;
	--warning-light-color: #564000;
	--code-color: #1e368f;
	--gradient-top-color: #121212;
	--gradient-bottom-color: var(--white);
	--modal-backdrop: rgba(0, 0, 0, 0.3);
	--table-stripe-color: #eeeeee;

	background: var(--white);
	color: var(--black);
}

body {
	font-family: var(--font-family);
}
