:root {
    --primary-color: #19324c;
    --primary-color-dark: #102133;
    --primary-color-light: #264b73;
    --primary-color-lighter: #326499;

    --negative-color: #db504a;
    --negative-color-dark: #b53c3c;
    --negative-color-darker: #8f3431;
    --negative-color-light: #e6cbca;

    --positive-color: #4c9f70;
    --positive-color-dark: #3a7855;
    --positive-color-darker: #27523a;
    --positive-color-light: #cae6d6;

    --information-color: #2c87c9;
    --information-color-dark: #246ea3;
    --information-color-darker: #1b547d;
    --information-color-light: #cadae6;

    --warning-color: #e6af2e;
    --warning-color-dark: #bf9126;
    --warning-color-darker: #99741f;
    --warning-color-light: #e6deca;

    --gray: #ccc;
    --gray-light: #eee;
    --gray-dark: #aaa;
    --gray-darker: #888;

    --white: #ffffff;
    --black: #333333;

    --menu-text-color: #00000040;
    --gradient-top-color: #b1cbe6;
    --modal-backdrop: #ffffff4d;
    --modal-background: rgba(255, 255, 255, 0.9);

    --control-border-color: var(--gray);
    --control-border-color-dark: var(--gray-dark);
    --control-border-color-darker: var(--gray-darker);
    --menu-text-selected-color: var(--black);
    --disabled-color: var(--gray-darker);
    --code-color: var(--primary-color-dark);
    --gradient-bottom-color: var(--white);
    --table-stripe-color: var(--gray-light);

    --border-radius: 4px;

    --font-size: 14px;
    --font-weight-bold: bold;
    --font-weight-normal: normal;
    --font-weight-light: 200;
    --font-family: 'Albert Sans', sans-serif;

    --font-family-menu: Urbanist, sans-serif;
    --font-weight-menu: 200;
    --font-weight-menu-active: 600;
    --font-size-main-menu: 48px;
    --font-size-sub-menu: 16px;
    --font-size-top-menu: 16px;

    --font-family-heading: Urbanist, sans-serif;
    --font-weight-heading: 200;

    --font-family-code: 'Oxygen Mono', monospace;

    --dropdown-background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMC4wMDAzMiA2ZS0wNSI+CiAgICA8Zz4KICAgICAgICA8cGF0aCBzdHlsZT0iZmlsbDojMTkzMjRjO3N0cm9rZS13aWR0aDowLjI2NDk5OTtzdHJva2UtbWl0ZXJsaW1pdDo0O3N0cm9rZS1kYXNoYXJyYXk6bm9uZSIKICAgICAgICAgICAgICBkPSJtIDQuODg5MDY2MSw0LjIzNDA1NTQgLTIuNDQ0NTMzLDFlLTcgTCA3Ljg1NTk1NjZlLTgsNC4yMzQwNTU0IDEuMjIyMjY2NSwyLjExNzAyNzcgMi40NDQ1MzMxLDAgMy42NjY3OTk3LDIuMTE3MDI3NiBaIgogICAgICAgICAgICAgIHRyYW5zZm9ybT0ibWF0cml4KDIuNDU0NDU2NWUtNSwwLDAsLTEuNDE3MDgxMWUtNSw5Ljk5OTk5OThlLTUsNi4wMDAwMDAxZS01KSIvPgogICAgPC9nPgo8L3N2Zz4=');
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --primary-color: #1a4f75;
        --primary-color-dark: #091c29;
        --primary-color-light: #1f689c;
        --primary-color-lighter: #2b83c2;

        --negative-color: #771b18;
        --negative-color-dark: #9e2420;
        --negative-color-darker: #c42d27;
        --negative-color-light: #531311;

        --positive-color: #2e6044;
        --positive-color-dark: #1c3b29;
        --positive-color-darker: #0a140e;
        --positive-color-light: #204330;

        --information-color: #1a4f75;
        --information-color-dark: #22699c;
        --information-color-darker: #2b83c2;
        --information-color-light: #123752;

        --warning-color: #916b10;
        --warning-color-dark: #b78615;
        --warning-color-darker: #dea318;
        --warning-color-light: #805e0f;

        --gray: #333;
        --gray-light: #111;
        --gray-dark: #555;
        --gray-darker: #777;

        --white: #000000;
        --black: #cccccc;

        --modal-backdrop: #ffffff4d;
        --menu-text-color: #ffffff40;
        --gradient-top-color: var(--white);
        --modal-backdrop: rgba(0, 0, 0, 0.3);
        --table-stripe-color: #1c1b1b;
        --modal-background: rgba(0, 0, 0, 0.9);

        background: var(--white);
        color: var(--black);

        --dropdown-background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMC4wMDAzMiA2ZS0wNSI+CiAgICA8Zz4KICAgICAgICA8cGF0aCBzdHlsZT0iZmlsbDojMWE0Zjc1O3N0cm9rZS13aWR0aDowLjI2NDk5OTtzdHJva2UtbWl0ZXJsaW1pdDo0O3N0cm9rZS1kYXNoYXJyYXk6bm9uZSIKICAgICAgICAgICAgICBkPSJtIDQuODg5MDY2MSw0LjIzNDA1NTQgLTIuNDQ0NTMzLDFlLTcgTCA3Ljg1NTk1NjZlLTgsNC4yMzQwNTU0IDEuMjIyMjY2NSwyLjExNzAyNzcgMi40NDQ1MzMxLDAgMy42NjY3OTk3LDIuMTE3MDI3NiBaIgogICAgICAgICAgICAgIHRyYW5zZm9ybT0ibWF0cml4KDIuNDU0NDU2NWUtNSwwLDAsLTEuNDE3MDgxMWUtNSw5Ljk5OTk5OThlLTUsNi4wMDAwMDAxZS01KSIvPgogICAgPC9nPgo8L3N2Zz4=');
    }
}

.cosmo--light-theme {
    --primary-color: #19324c;
    --primary-color-dark: #102133;
    --primary-color-light: #264b73;
    --primary-color-lighter: #326499;

    --negative-color: #db504a;
    --negative-color-dark: #b53c3c;
    --negative-color-darker: #8f3431;
    --negative-color-light: #e6cbca;

    --positive-color: #4c9f70;
    --positive-color-dark: #3a7855;
    --positive-color-darker: #27523a;
    --positive-color-light: #cae6d6;

    --information-color: #2c87c9;
    --information-color-dark: #246ea3;
    --information-color-darker: #1b547d;
    --information-color-light: #cadae6;

    --warning-color: #e6af2e;
    --warning-color-dark: #bf9126;
    --warning-color-darker: #99741f;
    --warning-color-light: #e6deca;

    --gray: #ccc;
    --gray-light: #eee;
    --gray-dark: #aaa;
    --gray-darker: #888;

    --white: #ffffff;
    --black: #333333;

    --menu-text-color: #00000040;
    --gradient-top-color: #b1cbe6;
    --modal-backdrop: #ffffff4d;
    --modal-background: rgba(255, 255, 255, 0.9);

    --dropdown-background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMC4wMDAzMiA2ZS0wNSI+CiAgICA8Zz4KICAgICAgICA8cGF0aCBzdHlsZT0iZmlsbDojMTkzMjRjO3N0cm9rZS13aWR0aDowLjI2NDk5OTtzdHJva2UtbWl0ZXJsaW1pdDo0O3N0cm9rZS1kYXNoYXJyYXk6bm9uZSIKICAgICAgICAgICAgICBkPSJtIDQuODg5MDY2MSw0LjIzNDA1NTQgLTIuNDQ0NTMzLDFlLTcgTCA3Ljg1NTk1NjZlLTgsNC4yMzQwNTU0IDEuMjIyMjY2NSwyLjExNzAyNzcgMi40NDQ1MzMxLDAgMy42NjY3OTk3LDIuMTE3MDI3NiBaIgogICAgICAgICAgICAgIHRyYW5zZm9ybT0ibWF0cml4KDIuNDU0NDU2NWUtNSwwLDAsLTEuNDE3MDgxMWUtNSw5Ljk5OTk5OThlLTUsNi4wMDAwMDAxZS01KSIvPgogICAgPC9nPgo8L3N2Zz4=');

    background: var(--white);
    color: var(--black);
}

.cosmo--dark-theme {
    --primary-color: #1a4f75;
    --primary-color-dark: #091c29;
    --primary-color-light: #1f689c;
    --primary-color-lighter: #2b83c2;

    --negative-color: #771b18;
    --negative-color-dark: #9e2420;
    --negative-color-darker: #c42d27;
    --negative-color-light: #531311;

    --positive-color: #2e6044;
    --positive-color-dark: #1c3b29;
    --positive-color-darker: #0a140e;
    --positive-color-light: #204330;

    --information-color: #1a4f75;
    --information-color-dark: #22699c;
    --information-color-darker: #2b83c2;
    --information-color-light: #123752;

    --warning-color: #916b10;
    --warning-color-dark: #b78615;
    --warning-color-darker: #dea318;
    --warning-color-light: #805e0f;

    --gray: #ccc;
    --gray-light: #eee;
    --gray-dark: #aaa;
    --gray-darker: #888;

    --white: #000000;
    --black: #cccccc;

    --modal-backdrop: #ffffff4d;
    --menu-text-color: #ffffff40;
    --gradient-top-color: var(--white);
    --modal-backdrop: rgba(0, 0, 0, 0.3);
    --table-stripe-color: #1c1b1b;
    --modal-background: rgba(0, 0, 0, 0.9);

    background: var(--white);
    color: var(--black);

    --dropdown-background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMC4wMDAzMiA2ZS0wNSI+CiAgICA8Zz4KICAgICAgICA8cGF0aCBzdHlsZT0iZmlsbDojMWE0Zjc1O3N0cm9rZS13aWR0aDowLjI2NDk5OTtzdHJva2UtbWl0ZXJsaW1pdDo0O3N0cm9rZS1kYXNoYXJyYXk6bm9uZSIKICAgICAgICAgICAgICBkPSJtIDQuODg5MDY2MSw0LjIzNDA1NTQgLTIuNDQ0NTMzLDFlLTcgTCA3Ljg1NTk1NjZlLTgsNC4yMzQwNTU0IDEuMjIyMjY2NSwyLjExNzAyNzcgMi40NDQ1MzMxLDAgMy42NjY3OTk3LDIuMTE3MDI3NiBaIgogICAgICAgICAgICAgIHRyYW5zZm9ybT0ibWF0cml4KDIuNDU0NDU2NWUtNSwwLDAsLTEuNDE3MDgxMWUtNSw5Ljk5OTk5OThlLTUsNi4wMDAwMDAxZS01KSIvPgogICAgPC9nPgo8L3N2Zz4=');
}

body {
    font-family: var(--font-family);
}
