{{#> layout title="Customize" mainActive="cosmo" subActive="customize" }}
    <h1 class="cosmo-title">Customize</h1>
    <p>
        Customizing the colors and fonts of cosmo is really easy; you only need to overwrite two CSS variables to get
        your own color scheme. Apart from the two main colors, there are nine other colors you can change. And one
        property to change the font family.
    </p>
    <p>
        For the customized variables to take effect they need to be applied on the body element in your custom CSS file.
    </p>
    <h2>Cosmo variables</h2>
    <pre class="cosmo-docs-container">
--primary-hue: 211;
--primary-saturation: 50%;
--primary-lightness-base: 20%;

--negative-hue: 2;
--negative-saturation: 67%;
--negative-lightness-base: 57%;

--positive-hue: 146;
--positive-saturation: 35%;
--positive-lightness-base: 46%;

--information-hue: 205;
--information-saturation: 64%;
--information-lightness-base: 48%;

--warning-hue: 42;
--warning-saturation: 54%;
--warning-lightness-base: 54%;

--gray-hue: 0;
--gray-saturation: 0%;
--gray-lightness-base: 80%;

--light-step: 10%;
--lighter-step: 20%;

--dark-step: -10%;
--darker-step: -20%;

--white-base: 255;
--black-base: 51;

--border-radius: 4px;

--font-size: 14px;
--font-weight-bold: bold;
--font-weight-normal: normal;
--font-weight-light: 200;
--font-family: 'Albert Sans', sans-serif;

--font-family-menu: Urbanist, sans-serif;
--font-weight-menu: 200;
--font-weight-menu-active: 600;
--font-size-main-menu: 48px;
--font-size-sub-menu: 16px;
--font-size-top-menu: 16px;

--font-family-heading: Urbanist, sans-serif;
--font-weight-heading: 200;

--font-family-code: 'Oxygen Mono', monospace;</pre>
{{/layout}}