{{#> layout title="Theme support" mainActive="cosmo" subActive="theme" }}
    <h1 class="cosmo-title">Supported themes</h1>
    <p>
        For some time now, browsers have supported an automatic switch between dark and light theme. This switch is
        based on the theme setting in your operating system. There might be situations where you want to force a light
        or dark theme. For that purpose, Cosmo supports a forced theme. Check below to see which classes you need to
        apply.
    </p>
    <h2>Force a theme</h2>
    <p>
        To force the light theme, apply the <code>is--light</code> to the HTML tag of your document. On the other hand,
        you need to apply the <code>is--dark</code> class to the HTML tag to force the dark theme.
    </p>
    <p>
        <button id="toggleTheme" class="cosmo-button">Toggle theme</button>
    </p>
    <script>
        document.getElementById('toggleTheme').addEventListener('click', () => {
            const html = document.querySelector('html');
            if (html.classList.contains('is--dark')) {
                html.classList.add('is--light');
                html.classList.remove('is--dark');
            } else if (html.classList.contains('is--light')) {
                html.classList.add('is--dark');
                html.classList.remove('is--light');
            } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                html.classList.add('is--light');
                html.classList.remove('is--dark');
            } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
                html.classList.add('is--dark');
                html.classList.remove('is--light');
            }
        });
    </script>
{{/layout}}