<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Cosmo CSS – {{title}}</title>
    <link href="@cosmo/cosmo.scss" rel="stylesheet"/>
    <link href="@docs-css/docs.scss" rel="stylesheet"/>
    <link rel="icon" href="@docs-icons/favicon-light.png" type="image/png"/>
    <link rel="icon" href="@docs-icons/favicon-dark.png" media="(prefers-color-scheme: dark)" type="image/png"/>
    <link rel="icon" href="@docs-icons/favicon.svg" type="image/svg+xml"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Cosmo CSS" name="apple-mobile-web-app-title"/>
    <meta content="Cosmo CSS" name="application-name"/>
    <meta content="#19324c" name="msapplication-TileColor"/>
    <meta content="#19324c" name="theme-color"/>
    <link rel="stylesheet" href="@highlightjs/styles/stackoverflow-dark.min.css"/>
</head>
<body{{#if debug}} class="cosmo-debug"{{/if}}>
<main class="cosmo-page">
    <div class="cosmo-menu is--top">
        <div class="cosmo-menu__row">
            <a target="_blank" href="https://github.com/Jinya-CMS/cosmo-css" class="cosmo-menu__item">
                Github
            </a>
            <a target="_blank" href="https://gitlab.imanuel.dev/jinya-cms/cosmo-css" class="cosmo-menu__item">
                GitLab
            </a>
            <a target="_blank" href="https://www.npmjs.com/package/@jinyacms/cosmo" class="cosmo-menu__item">
                NPM Package
            </a>
        </div>
        <div class="cosmo-profile-picture"></div>
        <a href="#" class="cosmo-menu__item is--right">Logout</a>
    </div>
    <div class="cosmo-menu">
        <button class="cosmo-back-button" onclick="history.back()" type="button"></button>
        <nav class="cosmo-menu__collection">
            <div class="cosmo-menu__row is--main">
                <a class="cosmo-menu__item{{#compare mainActive "===" "cosmo"}} is--active{{/compare}}"
                   href="/index.html">
                    Cosmo
                </a>
                <a class="cosmo-menu__item{{#compare mainActive "===" "controls"}} is--active{{/compare}}"
                   href="/controls/controls.html">
                    Controls
                </a>
                <a class="cosmo-menu__item{{#compare mainActive "===" "layout"}} is--active{{/compare}}"
                   href="/layout/layout.html">
                    Layout
                </a>
            </div>
            <div class="cosmo-menu__row is--sub">
                {{#compare mainActive "===" "cosmo"}}
                    <a class="cosmo-menu__item{{#compare subActive "===" "index"}} is--active{{/compare}}"
                       href="/index.html">
                        About Cosmo
                    </a>
                    <a class="cosmo-menu__item{{#compare subActive "===" "typography"}} is--active{{/compare}}"
                       href="/about/typography.html">
                        Typography
                    </a>
                    <a class="cosmo-menu__item{{#compare subActive "===" "theme"}} is--active{{/compare}}"
                       href="/about/theme.html">
                        Theme
                    </a>
                    <a class="cosmo-menu__item{{#compare subActive "===" "customize"}} is--active{{/compare}}"
                       href="/about/customize.html">
                        Customize
                    </a>
                {{else compare mainActive "===" "controls"}}
                    <a href="/controls/controls.html" class="cosmo-menu__item{{#compare subActive "==="
                                                                                                "controls"}} is--active{{/compare}}">
                        HTML controls
                    </a>
                    <a href="/controls/side-list.html" class="cosmo-menu__item{{#compare subActive "==="
                                                                                                 "side-list"}} is--active{{/compare}}">
                        Side list
                    </a>
                    <a href="/controls/tab-control.html" class="cosmo-menu__item{{#compare subActive "==="
                                                                                                   "tab-control"}} is--active{{/compare}}">
                        Tab control
                    </a>
                    <a href="/controls/toolbar.html" class="cosmo-menu__item{{#compare subActive "==="
                                                                                               "toolbar"}} is--active{{/compare}}">
                        Toolbar
                    </a>
                    <a href="/controls/dialog.html" class="cosmo-menu__item{{#compare subActive "==="
                                                                                              "dialog"}} is--active{{/compare}}">
                        Dialog
                    </a>
                {{else compare mainActive "===" "layout"}}
                    <a href="/layout/layout.html" class="cosmo-menu__item{{#compare subActive "==="
                                                                                            "layout"}} is--active{{/compare}}">
                        Base layout and menu
                    </a>
                    <a href="/layout/layout-bottom-bar-three-column.html"
                       class="cosmo-menu__item{{#compare subActive "==="
                                                                 "layout-bottom-bar-three-column"}} is--active{{/compare}}">
                        Three column bottom bar
                    </a>
                    <a href="/layout/layout-showcase.html" class="cosmo-menu__item{{#compare subActive "==="
                                                                                                     "layout-showcase"}} is--active{{/compare}}">
                        Layout showcase
                    </a>
                {{/compare}}
            </div>
        </nav>
    </div>
    <div class="cosmo-page__body">
        {{~> @partial-block }}
    </div>
    {{#compare mainActive "===" "layout"}}
        {{#compare subActive "===" "layout-bottom-bar-three-column"}}
            <div class="cosmo-bottom-bar is--three-column">
                <div class="cosmo-bottom-bar__item is--left">
                    Welcome and check <a href="https://cosmo.jinya.dev">here</a> for details.
                </div>
                <progress class="cosmo-progress-bar cosmo-bottom-bar__item is--center" value="19" max="100"></progress>
                <div class="cosmo-bottom-bar__item is--right">
                    <button class="cosmo-button">Click here for more</button>
                </div>
            </div>
        {{else}}
            <div class="cosmo-bottom-bar">
                <span class="cosmo-progress-bar__label">Top label</span>
                <progress class="cosmo-progress-bar" value="19" max="100"></progress>
                <span class="cosmo-progress-bar__label">Bottom label</span>
            </div>
        {{/compare}}
    {{/compare}}
    <script src="@docs-js/docs.js"></script>
</main>
</body>
</html>