pre.cosmo-docs-container {
	margin: unset;
	overflow: auto;
}

.cosmo-docs-container {
	border: 1px solid var(--primary-color);
	padding: 2rem 1rem 1rem;
	position: relative;
	margin: 1rem 0;
	border-radius: var(--border-radius);
}

.cosmo-docs-container::before {
	content: 'Demo';
	background: var(--primary-color);
	color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0.25rem 0.5rem;
	border-bottom-right-radius: var(--border-radius);
}

pre.cosmo-docs-container::before {
	content: 'Code';
}

.cosmo-debug * {
	outline: 1px dashed var(--primary-color);
}

.cosmo-docs-details__title {
	font-size: 125%;
	cursor: pointer;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.cosmo-docs-details__title::before {
	content: '';
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggc3Ryb2tlPSJjdXJyZW50Q29sb3IiIGQ9Ik04LjU5LDE2LjU4TDEzLjE3LDEyTDguNTksNy40MUwxMCw2TDE2LDEyTDEwLDE4TDguNTksMTYuNThaIiAvPjwvc3ZnPg==');
	display: inline-block;
	width: 1em;
	height: 1em;
	transition: transform var(--transition-duration);
}

.cosmo-docs-details[open] .cosmo-docs-details__title::before {
	transform: rotate(90deg);
}
