{{#> layout title="Side list" mainActive="controls" subActive="side-list" }}
    <div class="cosmo-list">
        <nav class="cosmo-list__items">
            <a class="cosmo-list__item cosmo-list__item--active">Side entry 1</a>
            <a class="cosmo-list__item">Side entry 2</a>
            <a class="cosmo-list__item">Side entry 3</a>
            <button class="cosmo-button cosmo-button--full-width">Add entry to list</button>
        </nav>
        <div class="cosmo-list__content">
            <h1 class="cosmo-title">Master-Detail list</h1>
            <p>
                The Master-Detail list is a control to create a basic master detail view. At the bottom of the list, you
                can add a button to give your users the option to create a new entry.
            </p>
            <p>
                The Master-Detail list is a top level component and cannot be put inside a tab control. Since Cosmo CSS
                is a pure CSS library, you need to implement the master detail logic yourself.
            </p>
            <details class="cosmo-docs-details">
                <summary class="cosmo-docs-details__title">Show code sample</summary>
                <pre class="cosmo-docs-container">
&lt;div class="cosmo-list">
    &lt;nav class="cosmo-list__items">
        &lt;a class="cosmo-list__item cosmo-list__item--active">Side entry 1&lt;/a>
        &lt;a class="cosmo-list__item">Side entry 2&lt;/a>
        &lt;a class="cosmo-list__item">Side entry 3&lt;/a>
        &lt;button class="cosmo-button cosmo-button--full-width">Add entry to list&lt;/button>
    &lt;/nav>
    &lt;div class="cosmo-list__content">
        &lt;h1 class="cosmo-title">Master-Detail list&lt;/h1>
        &lt;p>
            The Master-Detail list is a control to create a basic master detail view. At the bottom of the list, you can
            add a button to give your users the option to create a new entry.
        &lt;/p>
    &lt;/div>
&lt;/div></pre>
            </details>
        </div>
    </div>
{{/layout}}