{{#> layout title="Tab control" mainActive="controls" subActive="tab-control" }}
    <h1 class="cosmo-title">Tab control</h1>
    <p>
        The tab control is a basic control to add additional navigation layers into your application. It can be nested
        inside a Master-Detail list.
    </p>
    <p>
        Since Cosmo CSS is a pure css framework, you need to implement the tab logic yourself.
    </p>
    <div class="cosmo-docs-container">
        <div class="cosmo-tab">
            <div class="cosmo-tab__links">
                <a class="cosmo-tab__link is--active">Page 1</a>
                <a class="cosmo-tab__link">Page 2</a>
                <a class="cosmo-tab__link">Page 3</a>
                <a class="cosmo-tab__link">Page 4</a>
            </div>
            <div class="cosmo-tab__content">
                <h1>HTML Ipsum Presents</h1>
                <p>
                    <strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac
                    turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec
                    eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat
                    eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
                    sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
                    condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non
                    enim</a> in turpis pulvinar facilisis. Ut felis.
                </p>
                <h2>Header Level 2</h2>
                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                </ol>
                <h3>Header Level 3</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                </ul>
                <pre>
#header h1 a {
  display: block;
  width: 300px;
  height: 80px;
}</pre>
            </div>
        </div>
    </div>
    <details class="cosmo-docs-details">
        <summary class="cosmo-docs-details__title">Show code sample</summary>
        <pre class="cosmo-docs-container">
&lt;div class="cosmo-tab">
	&lt;div class="cosmo-tab__links">
		&lt;a class="cosmo-tab__link is--active">Page 1&lt;/a>
		&lt;a class="cosmo-tab__link">Page 2&lt;/a>
		&lt;a class="cosmo-tab__link">Page 3&lt;/a>
		&lt;a class="cosmo-tab__link">Page 4&lt;/a>
	&lt;/div>
	&lt;div class="cosmo-tab__content">
		&lt;h1>HTML Ipsum Presents&lt;/h1>
		&lt;p>
			&lt;strong>Pellentesque habitant morbi tristique&lt;/strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. &lt;em>Aenean ultricies mi vitae est.&lt;/em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, &lt;code>commodo vitae&lt;/code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. &lt;a href="#">Donec non enim&lt;/a> in turpis pulvinar facilisis. Ut felis.
		&lt;/p>
		&lt;h2>Header Level 2&lt;/h2>
		&lt;ol>
			&lt;li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/li>
			&lt;li>Aliquam tincidunt mauris eu risus.&lt;/li>
		&lt;/ol>
		&lt;h3>Header Level 3&lt;/h3>
		&lt;ul>
			&lt;li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/li>
			&lt;li>Aliquam tincidunt mauris eu risus.&lt;/li>
		&lt;/ul>
		&lt;pre>
#header h1 a {
display: block;
width: 300px;
height: 80px;
}&lt;/pre>
	&lt;/div>
&lt;/div></pre>
    </details>
{{/layout}}