{{#> layout title="Base Layout" mainActive="layout" subActive="layout" }}
    <h1 class="cosmo-title">Base layout and menu</h1>
    <p>
        Cosmo CSS has a very opinionated layout, and to fully use its menu structure you need to follow it.
    </p>
    <p>
        The menu consists of two levels of navigation and allows for a "backstage" menu. The top level navigation should
        navigate between your application areas, whereas the second level navigation should navigate between your actual
        pages.
    </p>
    <p>
        The top bar navigation, left from the square, can be used to send your users into settings. In Jinya CMS it is
        used to toggle between the frontstage, where the artist manages their content, and the backstage, where the
        Jinya CMS installation can be administered.
    </p>
    <p>
        To display status information, for example, during file upload, Cosmo CSS features a bottom bar. Even though the
        main usage of the bottom bar is to show progress, it can also be used to display buttons that should work on all
        pages the same.
    </p>
    <details class="cosmo-docs-details">
        <summary class="cosmo-docs-details__title">Show code sample</summary>
        <pre class="cosmo-docs-container">
&lt;main class="cosmo-page">
    &lt;div class="cosmo-menu is--top">
        &lt;div class="cosmo-menu__row is--top">
            &lt;a target="_blank" href="https://github.com/Jinya-CMS/cosmo-css" class="cosmo-menu__item is--top">
                Github
            &lt;/a>
            &lt;a target="_blank" href="https://gitlab.imanuel.dev/jinya-cms/cosmo-css" class="cosmo-menu__item is--top">
                GitLab
            &lt;/a>
            &lt;a target="_blank" href="https://www.npmjs.com/package/@jinyacms/cosmo" class="cosmo-menu__item is--top">
                NPM Package
            &lt;/a>
        &lt;/div>
        &lt;div class="cosmo-profile-picture">&lt;/div>
        &lt;a href="#" class="cosmo-menu__item is--top is--right">Logout&lt;/a>
    &lt;/div>
    &lt;div class="cosmo-menu">
        &lt;button class="cosmo-back-button" onclick="history.back()" type="button">&lt;/button>
        &lt;nav class="cosmo-menu__collection">
            &lt;div class="cosmo-menu__row is--main">
                &lt;a class="cosmo-menu__item is--main" href="/index.html">
                    Cosmo
                &lt;/a>
                &lt;a class="cosmo-menu__item is--main" href="/controls/controls.html">
                    Controls
                &lt;/a>
                &lt;a class="cosmo-menu__item is--main is--active" href="/layout/layout.html">
                    Layout
                &lt;/a>
            &lt;/div>
            &lt;div class="cosmo-menu__row is--sub">
                &lt;a href="/layout/layout.html" class="cosmo-menu__item is--sub">
                    Base layout and menu
                &lt;/a>
                &lt;a href="/layout/layout-bottom-bar-three-column.html" class="cosmo-menu__item is--sub">
                    Three column bottom bar
                &lt;/a>
                &lt;a href="/layout/layout-showcase.html" class="cosmo-menu__item is--sub is--active">
                    Layout showcase
                &lt;/a>
            &lt;/div>
        &lt;/nav>
    &lt;/div>
    &lt;div class="cosmo-page-body">
        &lt;div class="cosmo-page-body__content">    &lt;h1 class="cosmo-title">Some title&lt;/h1>
        &lt;/div>
    &lt;/div>
    &lt;div class="cosmo-bottom-bar">
        &lt;span class="cosmo-progress-bar__label">Top label&lt;/span>
        &lt;progress class="cosmo-progress-bar" value="19" max="100">&lt;/progress>
        &lt;span class="cosmo-progress-bar__label">Bottom label&lt;/span>
    &lt;/div>
&lt;/main></pre>
    </details>
{{/layout}}