{{#> layout title="Three column bottom bar layout" mainActive="layout"
            subActive="layout-bottom-bar-three-column" }}
    <h1 class="cosmo-title">Three column bottom-bar</h1>
    <p>
        Another possible bottom-bar layout is a three column-based layout. Check the bottom of
        this page for an example.
    </p>
    <details class="cosmo-docs-details">
        <summary class="cosmo-docs-details__title">Show code sample</summary>
        <pre class="cosmo-docs-container">
&lt;div class="cosmo-bottom-bar cosmo-bottom-bar--three-column">
    &lt;div class="cosmo-bottom-bar__item cosmo-bottom-bar__item--left">
        Welcome and check &lt;a href="https://cosmo.jinya.dev">here&lt;/a> for details.
    &lt;/div>
    &lt;progress class="cosmo-progress-bar cosmo-bottom-bar__item cosmo-bottom-bar__item--center" value="19" max="100">&lt;/progress>
    &lt;div class="cosmo-bottom-bar__item cosmo-bottom-bar__item--right">
        &lt;button class="cosmo-button">Click here for more&lt;/button>
    &lt;/div>
&lt;/div></pre>
    </details>
{{/layout}}